{% load images_tags %}

{% for object in object_list %}
    <p>default rendering at original size</p>
    {% image object original %}
    <p>or using a fill operation</p>
    {% image object fill-500x300 %}
    <p>jpeg format with quality</p>
    {% image object format-jpeg jpegquality-85 %}
    <p>bgcolor</p>
    {% image object bgcolor-ff0000 %}
    <p>crop (defaults to focol points)</p>
    {% image object crop %}
    <p>or custom with including `as varname`</p>
    {% image object original as orig %}
    <a href="{{ orig.url }}">{% image object thumbnail %}</a>
{% endfor %}